/** @format */

/* .logo{
	margin: 3;
	margin-left: 5px;
 }
h1 {
	margin-right: 20px;
	padding-right: 20px;

	color: aqua;
	background-color: chocolate;
	font-weight: 50;
	 font-size: larger; 
	margin-right: 20px;
	border: 2px solid black;
}
body {
	margin-left: 5cm;
	background: black url(assets/img.png) top scroll;
	background-size: ;
}
button {
	padding: 10px 20px;
	color: rgb(250, 247, 247);
	background-color: rgb(7, 65, 240);
	border: none;
	cursor: pointer;
	border: dotted 2px aqua;
}
button:hover {
	background-color: black;
}
img {
	margin-right: 4cm;
	margin-left: 4cm;
}
.logo{
	padding: 200px;
	outline: 2px solid black;
	background-image: url("assets/logo.png");
	background-repeat: no-repeat;
	background-position: auto;
	background-size:;
}
*/
.main-header{
	margin: auto;
	padding: 15px 600px;
	background-color: #444476;
	position: fixed;
	
}
.main-header p{
	margin: 0px ;
	padding-left: 0px;
	position:static;
	
	color: yellow;
}
[class*="bg-"] {
	/*background-image: url(assets/logo.png);
	background-size: cover;
}
.image-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 15rem;

	& > * {
		display:grid ;
		place-items: center;
		outline: 3px solid red;

		& > * {
			padding: 0.25em 0.75em;
			border-radius: 0.25em;
			background: rgba(0, 0, 0, 0.75);
			color: size
			letter-: : cover;		}
	}
}
.bg-1{
	background-size: cover;
}
.bg-3{
	background-size: cover;
}
.bg-2{
	background-size: cover;
}